# API
NODE_ENV=development
PORT=4000
DATABASE_URL=file:./apps/api/prisma/dev.db
WEB_ORIGIN=http://localhost:3000,http://localhost:3001,http://localhost:3001
JWT_ACCESS_SECRET='random'
JWT_REFRESH_SECRET='random'
COOKIE_SECURE=false
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=content-private
S3_ACCESS_KEY_ID=replace-me
S3_SECRET_ACCESS_KEY=replace-me
# Web
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
